*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: #1a065b;
}
.navbar{
    /* background-color: aqua; */
    height: auto;
    width: 100%;
}
.navbar img{
    width: 400px;
    padding: 0px 30px 0px 20px;
    cursor: pointer;
}
.navbar ul {
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
}
.navbar ul li{
    padding: 0px 10px;
    border-radius: 3px;
    /* color: #1a065b; */
    text-transform: uppercase;
    font-weight: bold;

}
navbar ul li a.active, a:hover{
    color: rgb(244, 118, 7);
    transition: .5s;

}
.checkbtn{
    font-size: 30px;
    color: rgb(244, 118, 7);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media screen and (max-width: 952px) {
    .navbar img{
        width: 320px;
    }
    
}
@media screen and (max-width: 858px) {
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(244, 118, 7);
        top: 80px;
        left: -100%;
        text-align:left;
        transition: all .5s;
    }
    .navbar ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .navbar ul li a{
        font-size: 20px;
    }
    a:hover, a.active{
        background: none;
        columns: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
.home{
    padding: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.home img {
    /* padding-left: 10px; */
}
.home-data{s
    padding-right: 10vw;
    /* padding-top: 200px; */
   text-align: center;
}
.home-data h1{
    font-size: 50px;
    color: rgb(244, 118, 7);
}
.home-data h2{
    gap: 10px;
    margin-bottom: 10px;
}
.button{
    background: rgb(248, 128, 7);
    
    border-radius: 4px;
    padding: 4px;
    transition: all 2000ms ease-in-out;
}
.button:hover{
    background: rgb(248, 128, 7);
       color: white;
        transition: .2s;
        text-co
    
}